/* color scheme */
/* background - #ffff white*/
/* background separation - #efefef */
/* default body text color #292929 dark charcoal*/
/* links  #0032F8 blue*/
/* h2, h4, blockquote #939893 medium-dark gray*/
/* h5, .footer-emphasis - #8E2800 maroon */
/* h3 #8f8900 weird green*/

*{
  font-family: 'Cooper Hewitt', sans-serif;
}
html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
head{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  color: #292929;
}
#wrapper{
  width: 1200px;
  margin: 0px auto;
  padding: 0px 20px 20px 20px;
}
a{
  color: #0032F8;
}
h1{
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
}
h2{
  margin-top: 2em;
  font-size: 2em;
}
h2, .date{
  font-weight: 400;
  color:#939893; /* gray */

}
h3, h5, .footer-emphasis{
  color: #8E2800; /* maroon */
  font-weight: 400;
  line-height: 18px;
}
h4{
  color: #8f8900; /* lime green */
  font-weight: 400;
  line-height: 18px;
}
.date{
  font-size: smaller;
}
p, ul, ol, li {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26px;
}

/* Header and Nav */
header{
  width: 100%;
  border-bottom: 1px solid #ddd;
  /* margin: 0 0 30px 0; */
  margin: 0;
  padding: 0;
  /* padding-top: 0; */
  display: flex;
  position: fixed;
  background-color: #fff;
  z-index: 10;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.header-text{
  vertical-align: middle;
  padding: 5px;
  text-align: left;
  min-width: 400px;
  width: 30%;
}

header > a {
  text-decoration: none;
}

.header-text > h1{
  color: #000;
  margin-bottom: 0px;
}

nav{
  vertical-align: bottom;
  align-self: flex-end;
  -moz-align-self: flex-end;
  width: 60%;
  text-align: right;
}

nav > ul{
  list-style: none;
}

nav > ul > li{
  display: inline-block;
  padding: 10px 20px 0 0;
}

a.anchor {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}

/* content */
article{
  margin: 0;
  padding:  0;
}
.separate-section{
  /* background-color: #efefef; */
}

.content{
  padding-top: 100px;
}

.flexbox-container {
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-title{
  display: block;
  width: 100%;
  padding: 10px;
}

.center-image{
  margin: auto;
  width: 90%;
  height: auto;
  max-width: 600px;
}

.section-logo{
  height: 52px;
}

.item{
  padding: 10px;
}
.item-logo{
  width: 50px;
}
.portfolio {
  width: 30%;
  min-width: 350px;
  -webkit-box-shadow: 5px 5px 20px 8px rgba(238,238,238,0.75);
  -moz-box-shadow: 5px 5px 20px 8px rgba(238,238,238,0.75);
  box-shadow: 5px 5px 20px 8px rgba(238,238,238,0.75);
}
.portfolio > div > a > img{
  width: 99%;
}
.hide{
  display: none;
}

.box-shadow{
  -webkit-box-shadow: 5px 5px 20px 8px rgba(238,238,238,0.75);
  -moz-box-shadow: 5px 5px 20px 8px rgba(238,238,238,0.75);
  box-shadow: 5px 5px 20px 8px rgba(238,238,238,0.75);
}

blockquote{
  background: url('/images/quote.png') 0 0 no-repeat;
  background-size: 30px;
  padding:  0 0 0 46px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 100;
  font-color: #939893;
}
blockquote > p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 100;
  font-color: #939893;
}

blockquote > ul > li{
  font-size: 17px ;
  font-weight: 100;
  font-color: #939893;
}

blockquote > .attrib{
  text-align: right;
}

/* footer block */
footer{
  border-top: 1px solid #ddd;
  text-align: left;
  margin-top: 40px;
  padding-top: 20px;
  font-weight: 100;
}
.credits{
  list-style-type: none;
  margin-top: -10px;
  padding: 0 0 0 15px;
}
.footer-text {
  font-size: 80%;
}

/* Responsive  */

@media screen and (max-width:800px){
  #wrapper{
    width: 90%;
    margin: 0;
  }
  nav{
    align-self: none;
    -moz-align-self: none;
    width: 100%;
    text-align: left;
    margin-top: 0;
  }
  nav > ul{
    padding-left:5px;
    /* padding-top: 10px; */
    margin-top: 0px;
  }
  nav > ul > li{
    font-size: 65%;
  }
  /* .header-text > h1{
    color: red;
  } */
  header{
    padding-left: 8px;
  }
  .header-text > h1{
    font-size: 1.25em;
  }

  .header-text > h3{
    font-size: 80%;
    margin-top: 0;
    margin-bottom:  0;
  }
}

@media screen and (max-width:600px){
  #wrapper{
    width: 90%;
    margin: 0px;
    padding: 0px;
  }
}

