// import normalizescss
@import 'normalize';

$white: #ffffff; /* main background */
$black: #000000; /* header-text h1 */
$lightWhite: #efefef; /* highlight background */
$lightGray: #dddddd; /* header border bottom */
$darkCharcoal: #292929; /* body Text */
$blue:  #0032F8; /* links*/
$darkGray: #939893; /* medium-dark-gray - h2, h4, blockquote */
$maroon: #8E2800; /* h5, .footer-emphasis */
$weirdGreen: #8f8900; /* h3 */

$fontStack: 'Cooper Hewitt', sans-serif;
$normalFontWeight: 400;
$headerLineHeight: 18px;

@mixin boxshadow {
	-webkit-box-shadow: 5px 5px 20px 8px rgba(238,238,238,0.75);
	-moz-box-shadow: 5px 5px 20px 8px rgba(238,238,238,0.75);
	box-shadow: 5px 5px 20px 8px rgba(238,238,238,0.75);
}

*{
	font-family: $fontStack;
}

html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: $white;
	margin:0;
	padding: 0;
}

#wrapper{
	width: 1200px;
	margin: 0px auto;
	padding: 0px 20px 20px 20px;
}

a{
	color: $blue;

	.anchor{
		display: block;
		position: relative;
		top: -200px;
		visibility: hidden;
	}
}

h1{
	font-weight: 300;
	font-size: 1.5em;
	text-transform: uppercase;
}

h2{
	margin-top: 2em;
	font-size: 2em;
	color: $black;
	font-weight: $normalFontWeight;
}

h3, h5, .footer-emphasis{
	color: $maroon;
	font-weight:$normalFontWeight;
	line-height: $headerLineHeight;
}

h4{
	color: $weirdGreen;
	line-height: $headerLineHeight;
	font-weight: $normalFontWeight;
}

.date{
	font-size: smaller;
	color: $darkGray;
	font-weight: $normalFontWeight;
}

p, ul, ol, li{
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: $normalFontWeight;
	line-height: 26px;
}

blockquote{
	background: url('/images/quote.png') 0 0 no-repeat;
	background-size: 30px;
	padding:  0 0 0 46px;
	font-size: 17px;
	line-height: 28px;
	font-weight: 200;
	font-color: $darkGray;
	p{
		font-size: 17px;
		line-height: 28px;
		font-color: $darkGray;
	}
	ul{
		li{
			font-size: 17px ;
			font-color: $darkGray;
  	}
  }
  .attrib{
  	text-align: right;
  }
}

.hide{
	display: none;
}

/* Header and Nav */

header{
	width: 100%;
	border-bottom: 1px solid $lightGray;
	margin: 0;
	padding: 0;
	position: fixed;
	background-color: $white;
	z-index: 10;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;

	.header-text{
		vertical-align: middle;
		padding: 5px;
		text-align: left;
		min-width: 400px;
		width: 30%;
		h1{
			color: $black;
			margin-bottom: 0px;
		}
	}

	a{
		text-decoration: none;
	}
}

nav{
	vertical-align: bottom;
	align-self: flex-end;
	-moz-align-self: flex-end;
	-ms-align-self: flex-end;
	-webkit-align-self: flex-end;
	width: 60%;
	text-align: right;

	ul{
		list-style: none;

		li{
			display: inline-block;
			padding: 10px 20px 0 0;
		}
	}
}

/* Content */

.content{
	padding-top: 100px;
}


.flexbox-container {
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

	.section-title{
	display: block;
	width: 100%;
	padding: 10px;
}

.center-image{
	margin: auto;
	width: 90%;
	height: auto;
	max-width: 600px;
}

.section-logo{
	height: 52px;
}

.item{
	padding: 10px;
}
.item-logo{
	width: 50px;
}

.portfolio{
	width: 30%;
	min-width: 350px;
	@include boxshadow;
	div{
		a{
			img{
				width: 99%
			}
		}
	}
}

.box-shadow{
	@include boxshadow;
}

/* Footer block */
footer{
	border-top: 1px solid $lightGray;
	text-align: left;
	margin-top: 40px;
	padding-top: 20px;
	font-weight: 100;
}
.credits{
	list-style-type: none;
	margin-top: -10px;
	padding: 0 0 0 15px;
}
.footer-text {
	font-size: 80%;
}

/* Responsive  */

@media screen and (max-width:800px){
	#wrapper{
		width: 90%;
		margin: 0;
	}
	nav{
		align-self: none;
		-moz-align-self: none;
		-ms-align-self: none;
		-webkit-align-self: none;
		width: 100%;
		text-align: left;
		margin-top: 0;

		ul{
			padding-left:5px;
			/* padding-top: 10px; */
			margin-top: 0px;

			li{
				font-size: 65%;
			}
		}
	}

	header{
		padding-left: 8px;
	}
	.header-text{
		h1{
			font-size: 1.25em;
		}
		h3{
			font-size: 80%;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width:600px){
	#wrapper{
		width: 90%;
		margin: 0px;
		padding: 0px;
	}
}
